body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.title {
  font-size: 50px;
  text-align: left;
  padding-left: 95px;
  font-family: 'DM Sans', sans-serif;
}

.subTitle {
  font-size: 21px;
  text-align: left;
  padding-left: 95px;
  font-family: 'DM Sans', sans-serif;
}

#blurb {
  font-size: 30px;
  text-align: left;
  padding-left: 95px;
  font-family: 'DM Sans', sans-serif;
  padding-bottom: 15px;
}

button {
  border: none;
  background-color: black;
  border-radius: 25px;
  height: 50px;
  width: 200px;
  color: white;
  margin-bottom: 10px;
  margin-left: 100px;
  padding-left: 63px;
  padding-right: 63px;
  text-align: justify;
  white-space: nowrap;
}

.button-grp {
  display: flex;
  flex-direction: column;
  align-items: start;
}

a {
  padding-right: 100px;
}